:root {
  --solarized-base03:       #002b36;
  --solarized-base02:       #073642;
  --solarized-base01:       #586e75;
  --solarized-base00:       #657b83;
  --solarized-base0:        #839496;
  --solarized-base1:        #93a1a1;
  --solarized-base2:        #eee8d5;
  --solarized-base3:        #fdf6e3;
  --solarized-yellow:       #b58900;
  --solarized-orange:       #cb4b16;
  --solarized-red:          #dc322f;
  --solarized-magenta:      #d33682;
  --solarized-violet:       #6c71c4;
  --solarized-blue:         #268bd2;
  --solarized-cyan:         #2aa198;
  --solarized-green:        #859900;

	--uui-color-selected: var(--solarized-blue);
	--uui-color-selected-emphasis: var(--solarized-blue);
	--uui-color-selected-standalone: var(--solarized-blue);
	--uui-color-selected-contrast: var(--solarized-base0);
	--uui-color-current: var(--solarized-blue);
	--uui-color-current-emphasis: var(--solarized-blue);
	--uui-color-current-standalone: var(--solarized-blue);
	--uui-color-current-contrast: var(--solarized-base0);
	--uui-color-disabled: var(--solarized-base01);
	--uui-color-disabled-standalone: var(--solarized-base01);
	--uui-color-disabled-contrast: var(--solarized-base1);
	--uui-color-header-surface: var(--solarized-base03);
	--uui-color-header-contrast: var(--solarized-base0);
	--uui-color-header-contrast-emphasis: var(--solarized-base0);
	--uui-color-focus: var(--solarized-violet);
	--uui-color-surface: var(--solarized-base02);
	--uui-color-surface-alt: var(--solarized-base03);
	--uui-color-surface-emphasis: var(--solarized-base03);
	--uui-color-background: var(--solarized-base03);
	--uui-color-text: var(--solarized-base0);
	--uui-color-text-alt: var(--solarized-base0);
  --uui-button-contrast: var(--solarized-base2);
	--uui-color-interactive: var(--solarized-base0);
	--uui-color-interactive-emphasis: var(--solarized-base0);
	--uui-color-border: var(--solarized-base01);
	--uui-color-border-standalone: var(--solarized-base01);
	--uui-color-border-emphasis: var(--solarized-base01);
	--uui-color-divider: var(--solarized-base01);
	--uui-color-divider-standalone: var(--solarized-base01);
	--uui-color-divider-emphasis: var(--solarized-base01);
	--uui-color-default: var(--solarized-violet);
	--uui-color-default-emphasis: var(--solarized-violet);
	--uui-color-default-standalone: var(--solarized-base0);
	--uui-color-default-contrast: var(--solarized-base3);
	--uui-color-warning: var(--solarized-yellow);
	--uui-color-warning-emphasis: var(--solarized-yellow);
	--uui-color-warning-standalone: var(--solarized-yellow);
	--uui-color-warning-contrast: var(--solarized-base0);
	--uui-color-danger: var(--solarized-red);
	--uui-color-danger-emphasis: var(--solarized-red);
	--uui-color-danger-standalone: var(--solarized-red);
	--uui-color-danger-contrast: var(--solarized-base3);
	--uui-color-positive: var(--solarized-green);
	--uui-color-positive-emphasis: var(--solarized-green);
	--uui-color-positive-standalone: var(--solarized-green);
	--uui-color-positive-contrast: var(--solarized-base0);
	--uui-color-scheme: dark;
}
